body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15pt;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-center {
	justify-content: center;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-6 {
    width: 50%;
}

.title h1 {
	text-align: center;
	color: #4e4e4e;
	font-size: 2em;
}

#qtd-clicks {
	color: #4e4e4e;
	font-size: 1em;
	display: inline-block;
}

#clicks-cat1 {
	color: #4e4e4e;
	font-size: 1em;
	display: inline-block;
}

#clicks-cat2 {
	color: #4e4e4e;
	font-size: 1em;
	display: inline-block;
}

img {
	display: block;
}

img#cat-img {
    margin: 0 auto;
}

.name {
	color: #4e4e4e;
	text-align: center;
	font-size: 1.5em;
}

ul#list-cats {
    text-align: center;
    padding: 0px;
}

ul#list-cats li {
    display: inline-block;
    padding: 10px;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

ul#list-cats li:hover {
    background-color: #d2cdff;
}

p {
    display: inline-block;
}

.Counter {
    text-align: center;
}

.admin-controls {
	display: none;
    text-align: center;
    margin-bottom: 50px;
}

.admin-controls.open {
    display: block;
}

button#admin-btn {
    margin-left: 20px;
}